<!-- 
  Afficher la liste des posts grâce à la fonction getData() 
  - Créer une variable 'postCollection'
  - Appeler la fonction getData('https://jsonplaceholder.typicode.com/posts')
  - Dans le then(), injceter le retour de l'API dans la variable 'postCollection'
  - Ajoute les balises <ul><li></li></ul>
  - Appliquer la directive *ngFor sur la balise <li>
  - Le titre de l'article est en <h2>
  - Le contenu de l'article est en <p>
-->

<!-- 
  Afficher un post grâce à la fonction getData() 
  - Créer une variable 'singlePost'
  - Appeler la fonction getData('https://jsonplaceholder.typicode.com/posts/14')
  - Dans le then(), injceter le retour de l'API dans la variable 'singlePost'
  - Ajouter les blaises <article></article>
  - Le titre de l'article est en <h2>
  - Le contenu de l'article est en <p>
-->

<!-- 
  Créer un formulaire pour utiliser la fonction postData() 
  - Importer les module pour la gestion du formulaire dans app.module.ts
    import { FormsModule, ReactiveFormsModule } from "@angular/forms";
  - Importer les module pour la gestion du formulaire dans app.component.ts
    import { FormBuilder, FormGroup, Validators } from "@angular/forms";
  - Créer une variable 'addFormData' suivant la logique de 'FormGroup'
  - Ajouter les balise <form></form>
  - Ajouter dans la balise <from> les inputs correspondant au données à créer
  - Capter la soumission du formulaire
  - Appeler la fonction postData('https://jsonplaceholder.typicode.com/posts/', this.addFormData.value )

  => Exemple https://gist.github.com/DWS-paris/e8ffa9e8dc7c6055a6c2bc3265b3fc08
-->

<!-- 
  Créer un formulaire pour utiliser la fonction putData() 
  - Créer une variable 'updateFormData' suivant la logique de 'FormGroup'
  - Ajouter les balise <form></form>
  - Ajouter dans la balise <from> les inputs correspondant au données à modifier
  - Capter la soumission du formulaire
  - Appeler la fonction putData('https://jsonplaceholder.typicode.com/posts/', this.updateFormData.value )
-->

<!-- 
  Créer un bouton pour utiliser la fonction deleteData()
  - Ajouter les balises <button>Supprimer</button>
  - Capter la clic sur la balise button
  - Appeler la fonction deleteData('https://jsonplaceholder.typicode.com/posts/', '14') au moment du clic sur le bouton
-->

<!-- Une fois fini, créer une route par fonction (/readall, /readone, /create, /update, /delete) -->
<!-- 
  Ajouter la directive (balise HTML spécifique) pour afficher les composants des routes 
  <router-outlet></router-outlet>
-->